{% extends 'base.html' %}
{% load static i18n thumbnail absolute_urls %}

{% block title %}
{% trans 'Archive' %}
{% endblock title %}

{% block aside %}
<nav>
  <ul>
    <li><a href="{% url 'archive:search' %}">{% trans 'Gune osoa' %}</a></li>
    <li><a href="{% url 'archive:news' %}">{% trans 'News podcasts' %}</a></li>
    <li><a href="{% url 'archive:radio' %}">{% trans 'Radio podcasts' %}</a></li>
    <li><a href="{% url 'archive:projects' %}">{% trans 'Projects' %}</a></li>
  </ul>
</nav>
{% endblock aside %}

{% block content %}
<ul class="tabs">
  <li>
    <input type="radio" name="tabs" id="tab1" checked />
    <label for="tab1">{% trans 'Site-wide search' %}</label>
    <div id="tab-content1" class="tab-content">
      <form method="get" action=".">
        <label for="id_q">{% trans 'Term' %}:</label>
        <input id="id_q" name="q" value="{{ request.GET.q }}" />
        <input type="submit" value="{% trans 'Search' %}" />
        {% if form %}
        <h2>{% trans 'Details' %}</h2>
        {{ form }}
        {% endif %}
      </form>
    </div>
  </li>
  <li>
    <input type="radio" name="tabs" id="tab2" checked />
    <label for="tab2">Bigarrena</label>
    <div id="tab-content2" class="tab-content">
      <p>Hau bigarrena da</p>
    </div>
  </li>
</ul>

<ul>
  {% for result in search_results %}
  <li>
    <article>
      <h1>
        {% if result.url %}
        <a href="{{ result.url }}">{{ result }}</a>
        {% else %}
        {{ result }}
        {% endif %}
      </h1>

      {% build_absolute_uri result.meta.image as image_url %}
      {% thumbnail image_url "500" as image %}
      <img src="{{ image.url }}" />
      {% endthumbnail %}

      {% if result.description %}
      {{ result.description | truncatewords_html:25 | safe }}
      {% endif %}
    </article>
  </li>
  {% endfor %}
</ul>

{% include 'pagination.html' with object_list=search_results %}
{% endblock content %}
