{% extends 'base.html' %}
{% load static i18n thumbnail absolute_urls %}

{% block title %}
{% trans 'Archive' %}
{% endblock title %}


{% block content %}
<ul class="tabs">
  {% for title, reverseurl, form in tabs %}
  <li>
    <input type="radio" name="tabs" id="tab{{ forloop.counter }}" {% if forloop.first %}checked{% endif %} />
    <label for="tab{{ forloop.counter }}">{{ title }}</label>
    <div id="tab-content{{ forloop.counter }}" class="tab-content">
      <form method="get" action="{{ reverseurl }}">
        <label for="id_q">{% trans 'Term' %}:</label>
        <input id="id_q" name="q" value="{{ request.GET.q }}" />
        <input type="submit" value="{% trans 'Search' %}" />
        {% if form %}
        <h2>{% trans 'Details' %}</h2>
        {{ form }}
        {% endif %}
      </form>
    </div>
  </li>
{% endfor %}
</ul>

<ul>
  {% for result in search_results %}
  <li>
    <article>
      <h1>
        {% if result.url %}
        <a href="{{ result.url }}">{{ result.title }}</a>
        {% else %}
        {{ result }}
        {% endif %}
      </h1>

      {% build_absolute_uri result.meta.image as image_url %}
      {% thumbnail image_url "500" as image %}
      <img src="{{ image.url }}" />
      {% endthumbnail %}

      {% if result.description %}
      {{ result.description | truncatewords_html:25 | safe }}
      {% endif %}
    </article>
  </li>
  {% endfor %}
</ul>

{% include 'pagination.html' with object_list=search_results %}
{% endblock content %}
