{% extends 'base.html' %}
{% load i18n thumbnail %}

{% block title %}{{ radioshow }}{% endblock title %}

{% block content %}
<article>
  <div class="articleDetails">
    {% thumbnail radioshow.image "500" as image %}
    <img src="{{ image.url }}"/>
    {% endthumbnail %}
  </div>
  <div class="text">
    <p class="date">{{ radioshow.producer }}</p>
    <h2 class="category"><a href="{{ radioshow.category.get_absolute_url }}">{{ radioshow.category }}</a></h2>
    <h1>{{ radioshow }}</h1>
    {{ radioshow.description | safe }}
    <ul class="podcastList">
      <li>
        <h3>{% trans 'Podcast' %}</h3>
        <h3>{% trans 'Date' %}</h3>
      </li>
      {% for radiopodcast in radiopodcast_list %}
      <li>
        <input type="radio" name="tabs" id="tab{{ forloop.counter }}" {% if request.path == reverseurl %}checked{% endif %} />
        <label for="tab{{ forloop.counter }}">{{ radiopodcast }}</label>
        {% include 'podcast_control.html' with podcast=projectpodcast %}
        <p class="podcastDate">{{ radiopodcast.pub_date|date:"Y-m-d" }}</p>
        <div id="tab-content{{ forloop.counter }}" class="tab-content">
          {% thumbnail radiopodcast.image "500" as image %}
          <img class="podcastImage" src="{{ image.url }}" />
          {% endthumbnail %}
          <span class="podcastText">{{ radiopodcast.description | safe }}</span>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% include 'pagination.html' with object_list=radiopodcast_list %}
  </div>
</article>
{% endblock content %}
