{% extends 'base.html' %}
{% load static i18n compress %}

{% block title %}
{% trans 'Radio Shows' %}
{% endblock title %}

{% block extra_js %}
{% compress js %}
<script src="{% static 'js/radio_filter.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress js %}
{% endblock extra_js %}

{% block aside %}
<form class="cross_out" method="get" action=".">
  {{ form }}
</form>
{% endblock aside %}

{% block content %}
<ul id="featuredShows">
  {% for radioshow in radioshow_list.featured %}
  <li><a href="{{ radioshow.get_absolute_url }}">{{ radioshow }}</a></li>
  {% endfor %}
</ul>

<ul id="radioShows">
  {% for radioshow in radioshow_list %}
    <li class="show" data-producer="{{ radioshow.producer.slug }}" data-category="{{ radioshow.category.slug }}">
      <h2><a href="{{ radioshow.get_absolute_url }}">{{ radioshow }}</a></h2>
    </li>
  {% endfor %}
</ul>
{% endblock content %}
