{% extends 'base.html' %}
{% load static i18n thumbnail compress %}

{% block title %}
{% trans 'Radio Shows' %}
{% endblock title %}

{% block extra_js %}
{% compress js %}
<script src="{% static 'js/radio_filter.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress js %}
{% endblock extra_js %}

{% block aside %}
<form class="cross_out" method="get" action=".">
  {{ form }}
</form>
{% endblock aside %}

{% block content %}
<ul class="radioShows">
  {% for radioshow in radioshow_list.featured %}
  <li class="show" data-producer="{{ radioshow.producer.slug }}" data-category="{{ radioshow.category.slug }}">
    <h1><a href="{{ radioshow.get_absolute_url }}">{{ radioshow }}</a></h1>
    <h2 class="category"><a href="{{ radioshow.category.get_absolute_url }}">{{ radioshow.category }}</a></h2>
    <p class="date"><a href="{{ radioshow.producer.get_absolute_url }}">{{ radioshow.producer }}</a></p>

    {% thumbnail radioshow.image "500" as image %}
    <img src="{{ image.url }}"/>
    {% endthumbnail %}
  </li>
  {% endfor %}
  {% for radioshow in radioshow_list %}
  <li class="show" data-producer="{{ radioshow.producer.slug }}" data-category="{{ radioshow.category.slug }}">
    <h1><a href="{{ radioshow.get_absolute_url }}">{{ radioshow }}</a></h1>
    <h2 class="category"><a href="{{ radioshow.category.get_absolute_url }}">{{ radioshow.category }}</a></h2>
    <p class="date"><a href="{{ radioshow.producer.get_absolute_url }}">{{ radioshow.producer }}</a></p>

    {% thumbnail radioshow.image "500" as image %}
    <img src="{{ image.url }}"/>
    {% endthumbnail %}
  </li>
  {% endfor %}
</ul>
{% endblock content %}
