{% extends 'base.html' %}
{% load i18n compress thumbnail static %}

{% block title %}{{ radioshow }}{% endblock title %}

{% block extra_js %}
{% compress js %}
<script src="{% static 'js/folders.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress js %}
{% endblock extra_js %}


{% block content %}
<article>
  <div class="articleDetails">
    {% thumbnail radioshow.image "500" as image %}
    <img src="{{ image.url }}"/>
    {% empty %}
    <img src="{% static 'images/radio.svg' %}" alt="radio"/>
    {% endthumbnail %}
  </div>
  <div class="text">
    <h2 class="category"><a href="{{ radioshow.category.get_absolute_url }}">{{ radioshow.category }}</a></h2>
    <p class="date">{{ radioshow.producer }}</p>
    <h1>{{ radioshow }}</h1>
    {{ radioshow.description | safe }}
    <table class="podcastList">
      <thead>
        <th>{% trans 'Podcast' %}</th>
        <th>{% trans 'Date' %}</th>
      </thead>
      <tbody>
        {% for radiopodcast in radiopodcast_list %}
        <tr>
          <td class="folder">
            <span class="podcastTitle">{{ radiopodcast }}</span>
            {% include 'podcast_control.html' with podcast=projectpodcast %}
            <div class="folderContent">
              <span class="podcastText">{{ radiopodcast.description | safe }}</span>
              {% thumbnail radiopodcast.image "500" as image %}
              <img class="podcastImage" src="{{ image.url }}" />
              {% endthumbnail %}
            </div>
          </td>
          <td class="podcastDate">{{ radiopodcast.pub_date|date:"Y-m-d" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'pagination.html' with object_list=radiopodcast_list %}
  </div>
</article>
{% endblock content %}
