{% extends 'base.html' %}
{% load static i18n compress %}

{% block title %}
{% trans 'Radio Shows' %}
{% endblock title %}

{% block tail_extra_js %}
{% compress js %}
<script src="{% static 'js/radio_filter.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress js %}
{% endblock tail_extra_js %}

{% block aside %}
<form class="cross_out" method="get" action=".">
  {{ form }}
</form>
{% endblock aside %}

{% block content %}
<ul id="radioShows" class="cardList">
  {% for radioshow in radioshow_list.featured %}
  <li class="card featured">
    <h1><a href="{{ radioshow.get_absolute_url }}">{{ radioshow }}</a></h1>
    {% if radioshow.category %}
    <h2 class="category"><a href="{{ radioshow.category.get_absolute_url }}">{{ radioshow.category }}</a></h2>
    {% endif %}
    <p class="date"><a href="{{ radioshow.producer.get_absolute_url }}">{{ radioshow.producer }}</a></p>

    <a href="{{ radioshow.get_absolute_url }}">
      {% if radioshow.image %}
      <img src="{{ radioshow.image.url }}"/>
      {% else %}
      <img src="{% static 'images/radio.svg' %}" alt="radio"/>
      {% endif %}
    </a>
  </li>
  {% endfor %}

  {% for radioshow in radioshow_list %}
  <li class="card" data-producer="{{ radioshow.producer.slug }}" data-category="{{ radioshow.category.slug }}">
    <h1><a href="{{ radioshow.get_absolute_url }}">{{ radioshow }}</a></h1>
    {% if radioshow.category %}
    <h2 class="category"><a href="{{ radioshow.category.get_absolute_url }}">{{ radioshow.category }}</a></h2>
    {% endif %}
    <p class="date"><a href="{{ radioshow.producer.get_absolute_url }}">{{ radioshow.producer }}</a></p>

    <a href="{{ radioshow.get_absolute_url }}">
      {% if radioshow.image %}
      <img src="{{ radioshow.image.url }}"/>
      {% else %}
      <img src="{% static 'images/radio.svg' %}" alt="radio"/>
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
