{% extends 'base.html' %}
{% load static i18n compress %}

{% block title %}{% trans 'Configure your frontpage' %}{% endblock title %}

{% block extra_js %}
{% compress js %}
<script src="{% static 'js/radio_filter.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress js %}
{% endblock extra_js %}

{% block content %}
<section id="configure">
  <form class="cross_out" method="post" action=".">
    {% csrf_token %}
    <ul>
      {{ form.as_ul }}
    </ul>
    <input type="submit" value="{% trans 'Configure' %}" />
  </form>
  <form method="post" action="{% url 'reset-frontpage-configuration' %}">
    {% csrf_token %}
    <input class="reset" type="submit" value="{% trans 'Reset' %}" />
  </form>
</section>
{% endblock content %}
