{% extends 'base.html' %}
{% load i18n static compress %}

{% block title %}{% trans 'Frontpage' %}{% endblock title %}

{% block content %}
<a id="configureFrontpage" href="{% url 'configure-frontpage' %}">{% trans 'Configure' %}<i class="fa fa-cogs"></i></a>

<ul id="newsFront">
  {% for newspodcast in newspodcast_list %}
  <li class="flag news">
    <div class="detail" {% if newspodcast.image %} style="background-image: url('{{ newspodcast.image.url }}');"{% endif %}/>
      <div class="downloadShare">
        <i class="fa fa-play"></i>
        <i class="fa fa-plus"></i>
        <i class="fa fa-share"></i>
        <i class="fa fa-download"></i>
      </div>
    </div>
    <div class="text">
      <p class="date">{{ newspodcast.pub_date }}</p>
      <h2 class="category">
        {% for category in newspodcast.categories.all %}
        <a href="{{ category.get_absolute_url }}">{{ category }}</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </h2>
      <h1><a href="{{ newspodcast.get_absolute_url }}">{{ newspodcast }}</a></h1>
      <p>{{ newspodcast.description | striptags | truncatewords:25 }}</p>
    </div>
  </li>
  {% endfor %}
</ul>

<div id="right">
  <ul id="agendaFront">
    {% for date, event in event_list.upcoming %}
    <li class="flag agenda">
      <div class="detail" {% if event.image %} style="background-image: url('{{ event.image.url }}');"{% endif %} />
        <div class="downloadShare">
          <i class="fa fa-play"></i>
          <i class="fa fa-plus"></i>
          <i class="fa fa-share"></i>
          <i class="fa fa-download"></i>
        </div>
      </div>
      <div class="text">
        <h2 class="category">{{ event.location }}</h2>
        <time class="date" datetime="{{ date|date:"Y M d" }}">{{ date|date:"Y M d" }} {{ event.time|time:"H:i" }}</time>
        <h1><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h1>
      </div>
    </li>
    {% endfor %}
  </ul>

  <ul id="radioFront">
    {% for radiopodcast in radiopodcast_list %}
    <li class="flag radio">
      <div class="detail" {% if radiopodcast.image %} style="background-image: url('{{ radiopodcast.image.url }}');"{% endif %}/>
        <div class="downloadShare">
          <i class="fa fa-play"></i>
          <i class="fa fa-plus"></i>
          <i class="fa fa-share"></i>
          <i class="fa fa-download"></i>
        </div>
      </div>
      <div class="text">
        <h2 class="category">{{ radiopodcast.show }}</h2>
        <h1><a href="{{ radiopodcast.get_absolute_url }}">{{ radiopodcast }}</a></h1>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


{% for widget in widget_list %}
{{ widget.content | safe }}
{% endfor %}
{% endblock content %}
