django==1.8.4

Pillow
celery

# Static files
django-compressor
django-libsass

# Admin
django-admin-sortable2
django-grappelli
feedparser

# Fields
django-autoslug
django-ckeditor>=5.0.2
django-recurrence
sorl-thumbnail
django-colorful

# External APIs
boto

# Archive
django-watson
django-filter

# Tests
hypothesis[django]
fake-factory
