django==1.8.3

Pillow
celery
django-registration-redux

# Static files
django-libsass

# Admin
django-admin-sortable2

# Fields
django-autoslug
django-ckeditor
django-recurrence
django-colorful

# External APIs
boto

# Tests
model-mommy
