django==1.8.3

Pillow
celery
django-watson

# Static files
django-libsass

# Admin
django-admin-sortable2
django-grappelli
feedparser

# Fields
django-autoslug
django-ckeditor
django-recurrence
django-colorful

# External APIs
boto

# Tests
hypothesis
hypothesis-django
hypothesis-fakefactory
