{% extends 'base.html' %}
{% load i18n static thumbnail %}

{% block title %}{% trans 'Events' %}{% endblock title %}

{% block content %}
<ul class="list">
  {% for date, event in event_list %}
  <li class="flag event">
    {% thumbnail event.image "500" as image %}
    <div class="detail" style="background-image: url('{{ image.url }}');"></div>
    {% empty %}
    <div class="detail"></div>
    {% endthumbnail %}
    <div class="text">
      <h2 class="category">{{ event.location }}</h2>
      <time class="date" datetime="{{ date|date:"M j" }}">{{ date|date:"M j" }}
        <span class="time">{{ event.time|time:"H:i" }}</time>
      <h1><a href="{{ event.get_absolute_url }}">{{ event }}</a></h1>
      <p>{{ event.description | safe | truncatewords:25 }}</p>
    </div>
  </li>
  {% endfor %}
</ul>

{% include 'pagination.html' with object_list=event_list %}
{% endblock content %}
