{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Events' %}{% endblock title %}

{% block content %}
<ul class="list">
  {% for date, event in event_list %}
  <li class="flag event">
    <div class="detail">
      <a href="{{ event.get_absolute_url }}" {% if event.image %}style="background-image: url('{{ event.image.url }}');" {% endif %}></a>
    </div>
    <div class="text">
      <h2 class="category">{{ event.location }}</h2>
      <time class="date" datetime="{{ date|date:"M j" }}">{{ date|date:"M j" }}
        <span class="time">{{ event.time|time:"H:i" }}</time>
      <h1><a href="{{ event.get_absolute_url }}">{{ event }}</a></h1>
      <p>{{ event.description | striptags | truncatewords:25 | safe }}</p>
    </div>
  </li>
  {% endfor %}
</ul>

{% include 'pagination.html' with object_list=event_list %}
{% endblock content %}
