{% extends 'base.html' %}
{% load i18n islice %}

{% block title %}{{ event }}{% endblock title %}

{% block content %}
<article>
  <div class="articleDetails">
    {% if event.image %}
    <img src="{{ event.image.url }}"/>
    {% endif %}
  </div>
  <div class="text">
    <h1><a href="{{ event.get_absolute_url }}">{{ event }}</a></h1>
    <section class="eventDetail">
      <div class="eventLocation">
        <h2 class="category">{% trans 'Location' %}</h2>
        <p>{{ event.location }}</p>
      </div>
      <h2 class="category">{% trans 'Dates' %}</h2>
      <ul>
        {% for date in event.upcoming|islice:5 %}
        <li><time class="date" datetime="{{ date|date:"Y M j" }}">{{ date|date:"Y M j" }} <span class="time">{{ event.time|time:"H:i" }}</time></li>
        {% endfor %}
      </ul>
    </section>
    <p>{{ event.description | safe }}</p>
    {% if event.link %}
    <a class="link" href="{{ event.link }}">{% trans 'More info' %}</a>
    {% endif %}
  </div>
{% endblock content %}
