{% extends 'base.html' %}
{% load i18n islice %}

{% block title %}{{ event }}{% endblock title %}

{% block content %}
<article>
  <div class="articleDetails card">
    {% for date in event.upcoming|islice:5 %}
    <time class="date" datetime="{{ date|date:"Y M j" }}"><h1>{{ date|date:"Y M j" }}, {{ event.time|time:"H:i" }}</h1></time>
    {% endfor %}
    <h2 class="category">{{ event.location }}</h2>
    {% if event.image %}
    <img src="{{ event.image.url }}"/>
    {% endif %}
    <a class="date" href="{{ event.link }}">{% trans 'More info' %}</a>
  </div>
  <div class="text">
    <h1><a href="{{ event.get_absolute_url }}">{{ event }}</a></h1>
    <div class="eventDescription">{{ event.description | safe }}</div>
{% endblock content %}
