{% extends 'base.html' %}
{% load static i18n compress thumbnail absolute_urls %}

{% block title %}{% trans 'Schedule' %}{% endblock title %}

{% block extra_js %}
{# Cannot compress this because it includes the JS I18N catalogue #}
{{ tab_media.render_js | join:"" }}
{% compress js %}
<script src="{% static 'js/tabs.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress js %}
{% endblock extra_js %}


{% block extra_css %}
{% compress css %}
{{ tab_media.render_css | join:"" }}
{% endcompress css %}
{% endblock extra_css %}

{% block content %}
<section id="schedule">
  <ul class="tabs">
    {% regroup broadcast_list by get_weekday_display as broadcast_list_by_weekday %}
    {% for weekday in broadcast_list_by_weekday %}
    <li class="tab{% if foorlop.first %} default{% endif %}"
      data-tab="tab{{ forloop.counter }}">{{ weekday.grouper }}</li>
    {% endfor %}
  </ul>
  <ul class="tabsContents">
    {% for title, reverseurl, form in tabs %}
    <li class="tabContent" data-tab="tab{{ forloop.counter }}">
      <ul>
        {% for broadcast in weekday.list %}
        <li>
          <time>{{ broadcast.beginning }}</time>
          <h1><a href="{{ broadcast.link }}">{{ broadcast }}</a></h1>
          <p>{{ broadcast.description }}</p>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock content %}
