{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Schedule' %}{% endblock title %}

{% block content %}
<ul class="tabs" id="schedule">
  {% regroup broadcast_list by get_weekday_display as broadcast_list_by_weekday %}
  {% for weekday in broadcast_list_by_weekday %}
  <li>
    <input type="radio" name="tabs" id="tab{{ forloop.counter }}" {% if forloop.first %}checked{% endif %} />
    <label for="tab{{ forloop.counter }}">{{ weekday.grouper }}</label>
    <div id="tab-content{{ forloop.counter }}" class="tab-content">
      <ul>
        {% for broadcast in weekday.list %}
        <li>
          <time>{{ broadcast.beginning }}</time>
          <h1><a href="{{ broadcast.link }}">{{ broadcast }}</a></h1>
          <p>{{ broadcast.description }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </li>
  {% endfor %}
{% endblock content %}
