body
    margin: 0
    background-color: black
    background-image: url(/images/debian_radio.jpg)
    background-repeat: no-repeat
    background-size: 90%
    background-position: center top
    font-family: $text
    +media(max-width 769px)
        background-size: 100%

