{% extends 'base.html' %}

{% block title %}{{ newspodcast }}{% endblock title %}

{% block content %}
<article>
  <div class="articleDetails">
    {% if newspodcast.image %}
    <img src="{{ newspodcast.image.url }}"/>
    {% endif %}
    {% include 'podcast_control.html' with podcast=newspodcast %}
  </div>
  <div class="text">
    <p class="date">{{ newspodcast.pub_date|date:"Y-m-d" }}</p>
    <h2 class="category">
      {% for category in newspodcast.categories.all %}
      <a href="{{ category.get_absolute_url }}">{{ category }}</a>
      {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </h2>
    <h1>{{ newspodcast }}</h1>
    <p>{{ newspodcast.description | safe }}</p>
  </div>
</article>
{% endblock content %}
