{% extends 'base.html' %}

{% block title %}{{ newspodcast }}{% endblock title %}

{% block content %}
<article>
  <div class="articleDetails">
    {% if newspodcast.image %}
    <img src="{{ newspodcast.image.url }}"/>
    {% endif %}
    {% include 'podcast_control.html' with podcast=newspodcast %}
  </div>
  <div class="text">
    <h2 class="category"><a href="{{ newspodcast.category.get_absolute_url }}">{{ newspodcast.categories.all | join:", " }}</a></h2>
    <p class="date">{{ newspodcast.pub_date|date:"Y-m-d" }}</p>
    <h1>{{ newspodcast }}</h1>
    <p>{{ newspodcast.description | safe }}</p>
  </div>
</article>
{% endblock content %}
