{% extends 'base.html' %}
{% load i18n static thumbnail %}

{% block title %}{% trans 'News' %}{% endblock title %}

{% block extra_js %}
<script src="{% static 'js/news_filter.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock extra_js %}

{% block aside %}
<form class="aside" method="get" action=".">
  {{ form }}
  <input type="submit" value="{% trans 'Refresh' %}" />
</form>
{% endblock aside %}

{% block content %}
<ul class="list">
  {% for newspodcast in newspodcast_list %}
  <li class="flag news">
    {% thumbnail newspodcast.image "500" as image %}
    <div class="detail" style="background-image: url('{{ image.url }}');">
    {% empty %}
    <div class="detail">
      <div class="downloadShare">
        <i class="fa fa-play"></i>
        <i class="fa fa-plus"></i>
        <i class="fa fa-share"></i>
        <i class="fa fa-download"></i>
      </div>
    </div>
    <div class="text">
      <h2 class="category">{{ newspodcast.categories.all | join:", " }}</h2>
      <p class="date">{{ newspodcast.pub_date|date:"Y-m-d" }}</p>
      <h1><a href="{{ newspodcast.get_absolute_url }}">{{ newspodcast }}</a></h1>
      <p>{{ newspodcast.description | striptags | truncatewords:25 }}</p>
    </div>
  </li>
  {% endfor %}
</ul>

{% include 'pagination.html' with object_list=newspodcast_list %}
{% endblock content %}
