<section ng-controller="AuthController">
  <h2>Login</h2>
  <form ng-submit="login()">
    <input ng-model="email" required name="email" type="text"
    placeholder="eposta helbidea" />
    <input ng-model="password" required name="password" type="password"
    placeholder="pasahitza" />
    <input type="submit" value="hasi saioa" />
  </form>
</section>

<section ng-controller="AuthController">
  <h2>Register</h2>
  <form ng-submit="register($event)">
    <input ng-model="email" required name="email" type="text"
    placeholder="eposta helbidea" />
    <input ng-model="password" required name="password" type="password"
    placeholder="pasahitza" />
    <input ng-model="password_check" required name="password_check"
    type="password" placeholder="errepikatu pasahitza" />
    <input type="submit" value="Sortu kontua" />
  </form>
</section>
