<div class="auth" id="authLogin" ng-controller="LoginController">
  <wizard>
    <wz-step title="Hasi">
      <h2><a href="" wz-next>Hasi saioa</a></h2>
      <a class="authNext" href="" wz-next><span class="triangle"></span></a>
    </wz-step>
    <wz-step title="Eposta">
      <input ng-model="login.email" required name="email" type="text"
      placeholder="Eposta helbidea" />
      <a class="authNext" href="" wz-next><span class="triangle"></span></a>
    </wz-step>
    <wz-step title="Pasahitza">
      <input ng-model="login.password" required name="password" type="password"
      placeholder="Pasahitza" />
      <a fittext class="authNext" href="" wz-next="login()">Saioa hasi</a>
    </wz-step>
  </wizard>
  <div ng-repeat="error in login.errors">
    <p class="authError">{{ error }}</p>
  </div>
</div>
<div class="auth" id="authRegister" ng-controller="RegistrationController">
  <wizard>
    <wz-step>
      <h2><a href="" wz-next>Kontua sortu</a></h2>
      <a class="authNext" href="" wz-next><span class="triangle"></span></a>
    </wz-step>
    <wz-step>
      <input ng-model="registration.email" required name="email" type="text"
      placeholder="Eposta helbidea" />
      <a class="authNext" href="" wz-next><span class="triangle"></span></a>
    </wz-step>
    <wz-step>
      <input ng-model="registration.password" required name="password" type="password"
      placeholder="Pasahitza" />
      <a class="authNext" href="" wz-next><span class="triangle"></span></a>
    </wz-step>
    <wz-step>
      <input ng-model="registration.password_check" required name="password_check"
      type="password" placeholder="Errepikatu pasahitza" />
      <a class="authNext" href="" wz-next="register()">Sortu kontua</a>
    </wz-step>
  </wizard>
  <div ng-repeat="error in registration.errors">
    <p class="authError">{{ error }}</p>
  </div>
</div>
