<section id="mainNav">
	<nav id="menu">
		<ul>
			<li><a ui-sref="radio">Irratia</a></li>
			<li><a ui-sref="radio">Irratia</a></li>
			<li><a ui-sref="radio">Irratia</a></li>
			<li><a ui-sref="radio">Irratia</a></li>
			<li><a ui-sref="radio">Irratia</a></li>
			<li><a ui-sref="radio">Irratia</a></li>
			<li><a ui-sref="radio">Irratia</a></li>
			<li><a ui-sref="radio">Irratia</a></li>
			<li><a ui-sref="radio">Irratia</a></li>
		</ul>
	</nav>
	<nav class="user">
		<div ng-controller="AuthController">
			<ul>
        <li ng-hide="isAuthenticated()">
          <a ui-sref="nav.auth">Erregistratu / Saioa hasi</a>
        </li>
        <li ng-show="isAuthenticated()">
          <a href="" ng-click="logout()">Logout</a>
        </li>
        <li>
          <img src="/images/rss.svg" alt="rss"/>
        </li>
			</ul>
		</div>
	</nav>
</section>
