article
  +outer-container
  div.articleDetails
    +span-columns(3)
    img
      width: 100%
    .podcastControl
      position: static
  div.text
    +span-columns(9)
  img
    max-width: 100%
    height: auto !important
  img[style*="float:left"]
    margin: .5rem 1rem .5rem 0
  img[style*="float:right"]
    margin: .5rem 0 .5rem 1rem
  h1
    color: $green
    font-size: 1.4rem
    margin-top: 0
  h3
    font-size: 1.1rem
    color: tint(black, 20%)
  h4
    font-size: 1rem
    color: tint(black, 20%)
  h5
    font-size: .9rem
    color: tint(black, 20%)
  h6
    font-size: .8rem
    color: tint(black, 20%)
  .eventDetail
    float: left
    margin: 1rem 2rem 1rem 0
    border: solid .1em $green
    padding: 1em
    h2, p
      display: inline-block
      margin: 0 .5em 1em 0
    ul
      padding: 0
      margin: 0
      display: inline-block
      vertical-align: top
    li
      list-style: none
  a.link
    color: $green
    display: block
    margin-top: 1em
