article
  +outer-container
  div.articleDetails
    +span-columns(3)
    img
      width: 100%
    .downloadShare
      position: static
  div.text
    +span-columns(9)
  img
    max-width: 100%
    height: auto !important
  img[style*="float:left"]
    margin: .5rem 1rem .5rem 0
  img[style*="float:right"]
    margin: .5rem 0 .5rem 1rem
  h1
    color: $green
    font-size: 1.4rem
    margin-top: 0
  h3
    font-size: 1.1rem
    color: tint(black, 20%)
  h4
    font-size: 1rem
    color: tint(black, 20%)
  h5
    font-size: .9rem
    color: tint(black, 20%)
  h6
    font-size: .8rem
    color: tint(black, 20%)
  #occurrences
    float: left
    margin: 0 1em 1em 0
    h4
      margin: 0
      color: white
    ul
      padding: 0 1em
      margin: .5em 0
    li
      color: white
      list-style: square inside
    div#future
      padding: .5em
      background: $green
    div#past
      padding: .5em
      background: tint($green, 30%)
  a.link
    color: $green
