form.cross_out
  +outer-container()
  margin: 3em 0
  label
    font-size: 1.2rem
  ul
    padding: 0 0 1rem 0
    margin: 0
    li
      list-style: none
      padding: .3em 0
      margin: .5em 0
      label
        font-size: 1rem
        padding: .3em
        color: grey
        text-decoration: line-through
        cursor: pointer
      label.checked
        background: $green
        color: white
        text-decoration: none
      input
        display: none

input[type="submit"]
  background: #d2d2d2
  border: none
  padding: .2em
  color: $green
  font-weight: bold
  font-size: .9rem
  padding: .5em
  cursor: pointer !important

.widget
  p
      margin: 1rem 0 0 0
  +span-columns(12)
  +media(max-width $medium)
    +span-columns(4)
    p
      width: 100%
  +media(max-width $small)
    +span-columns(12)
  img
    width: 100% !important
    height: auto !important
