form.aside
  margin: 3em 0
  label
    font-size: 1.2rem
  ul
    padding: 0 0 1rem 0
    margin: 0
    li
      list-style: none
      padding: .3em 0
      margin: .5em 0
      label
        font-size: 1rem
        padding: .3em
        color: grey
        text-decoration: line-through
      label.checked
        background: $green
        color: white
        text-decoration: none
      input
        display: none
  input
    background: none
    border: $green solid .2rem
    padding: .2em
    color: $green
    font-weight: bold
    font-size: .9rem
    cursor: pointer
