body
  margin: 0
  background-color: black
  font-family: $text

header
  background-image: url($STATIC_URL + "images/debian_radio.jpg")
  background-repeat: no-repeat
  background-size: 90%
  background-position: center 60%
  position: relative
  +outer-container()
  +media(max-width $medium)
    background-size: 100%
  div#logo
    width: 10em
    padding: 3% 0
    margin: 0 auto
    +media(max-width $small)
      padding: 10% 0
    +media(max-width $medium)
      padding: 6% 0
    +media(min-width $x-large)
      width: 15em

div#wrap
  background: tint(black, 95%)
  min-height: 75vh
  padding: 3rem 3%
  +outer-container
  main
    position: relative
    +span-columns(9)
    +media(max-width $medium)
      +span-columns(12)
  aside
    padding-left: 1%
    +span-columns(3)
    +media(max-width $medium)
      +span-columns(12)

a#configureFrontpage
  position: absolute
  left: 3%
  text-decoration: none
  font-size: .7rem
  padding-right: .5em
  top: 78%
  +media(max-width $small)
    top: 50%
  i
    background: $green
    margin-right: .3em
    color: tint($green, 90%)
    padding: .3em .2em .25em .3em
  &:hover
    background: $green
    color: tint($green, 90%)
