$text: Lato !default
$lightgreen: #5a9503
$green: #5a9503
$red: #950303
$max-width: 100% !global

a
  color: tint(black, 10%)
h1
  font-size: 1.3rem
  a
    text-decoration: none
h2
  font-size: 1.1rem
h2.category
  font-size: 1rem
  color: tint(black, 35%)
  font-variant: small-caps
  text-transform: lowercase
p
  font-size: 1rem
.date
  font-size: .8rem
  display: inline
