ul.list
  padding: 0
  +span-columns(9 of 9)
  li
    margin-bottom: 3%
  div.text
    width: 80%

div#right
  +span-columns(4 of 9)
  +media(max-width $small)
    +span-columns(12)

ul#newsFront
  +span-columns(5 of 9)
  +media(max-width $small)
    +span-columns(12)

ul#newsFront, ul#eventFront, ul#radioFront
  padding: 0

ul#newsFront, ul#eventFront
  margin-top: 0

ul#eventFront
  margin-bottom: 2rem

li.flag
  list-style: none
  color: tint(black, 5%)
  font-size: 0
  margin-bottom: .7rem
  display: table
  width: 100%
  div.detail
    div.podcastControl
      position: absolute
      bottom: 0
      left: 0
      width: 100%
  div.text
    width: 70%
    padding: 3%
    display: table-cell
  h1
    margin: .1em 0 .5em 0
  h2.category
    margin: 0
  p
    margin: .2em 0 0 0
  .date
    margin: 0
    padding-right: .5em

li.news
  background: tint(black, 70%)
  .detail
    width: 30% !important

li.radio
  background: tint(black, 80%)
  .detail
    width: 20% !important
  h1
    font-size: 1rem
    margin-bottom: 0
  h2
    display: inline-block
    padding-right: .5em

li.event
  background: tint(black, 90%)
  div.text
    padding: .3rem 3%
    h1
      margin: .1em 0
      font-size: .95rem
    h2
      margin: 0 0 .1em 0
      padding-right: .5em
      font-size: 1rem
      display: inline
      i
        font-size: .6rem
  .date
    font-size: 1rem
    font-weight: bold
    color: tint(black, 40%)
  .time
    padding-left: .3em
  .detail
    width: 10% !important
ul.list
  li.event
    h1
      margin: .5em 0
      font-size: 1.1rem
    div.text
      padding: 1rem
    .date
      color: $green

ul#newsFront
  li.flag.news:first-child
    background: tint(black, 60%)
    div.detail
      width: 50% !important
