footer
  background: tint(black, 10%)
  color: tint(black, 70%)
  padding: 0 .5rem
  font-size: 0
  div#license, div#sponsors
    display: inline-block
    vertical-align: middle
    +media(max-width $small)
      display: block
      padding: 3% 0
  div#license
    width: 70%
    font-size: .8rem
    +media(max-width $small)
      width: 100%
      font-size: .9rem
    a
      color: tint(black, 55%)
      text-decoration: none
    img
      width: 8%
      vertical-align: middle
      margin-right: .5em
      +media(max-width $small)
        width: 20%
  div#sponsors
    width: 30%
    +media(max-width $small)
      width: 100%
    img
      width: 20%
      margin: 0 2.5%
      vertical-align: middle

