ul#featuredShows
  background: $green
  padding: .5em
  margin: 0
  li
    display: inline-block
    list-style: none
    padding: .5em 1em
    a
      text-decoration: none
      color: white
ul#radioShows
  +outer-container
  li.radio.list
    background: none
    +span-columns(4)
    +omega(3n)
    h1
      color: $green
      text-transform: lowercase
      font-size: 2.5rem
      border-bottom: solid $green .04em
      display: block
      width: 40%
      padding-left: .2em
  a
    text-decoration: none
  ul
    padding: 0
    margin-bottom: 2rem
    li
      list-style: none
      padding-left: .5rem
      h2
        font-weight: normal
        font-size: 1rem
        margin: .8em 0

ul#projectShows
  padding: 0
  margin: 0
  li
    list-style: none
    margin-bottom: 2rem
    h1
      background: $green
      color: white
      display: inline-block
      padding: .5rem
      margin-bottom: .5em
    ul
      padding-left: 1.5em
      li
        list-style: inside square
        color: $green
        margin-bottom: 0
        h2
          color: black
          display: inline-block
          font-weight: normal
          margin: .5em 0

ul#archiveResults
  padding: 0
  li
    list-style: none
    margin-bottom: 2rem
    article
      border-bottom: tint(black, 90%) solid .15em
      padding-bottom: 1rem
    h1
      a
        color: $green

p#nothingFound
  font-weight: bold
  color: tint(black, 55%)
  font-size: 1.3rem

.podcastList
  width: 100%
  padding: 0
  position: relative
  border-collapse: collapse
  thead
    th
      padding: .2rem 1rem
      background: $green
      text-align: left
      color: white
      font-size: 1rem
      margin: 0
  tbody
    font-size: 0
    td
      background: tint($green, 80%)
      vertical-align: top
      padding: .2rem 1rem
      border-bottom: tint(black, 95%) solid .15rem
      &.folder
        width: 65%
        cursor: pointer
      &.podcastControls
        width: 15%
      &.podcastDate
        font-size: .8rem
        padding-top: .6em
        width: 20%
    span.podcastTitle
      width: 80%
      display: inline-block
      font-size: 1rem
    .podcastControl
      display: inline-block
      position: static
      background: none
      i
        color: tint(black, 60%)
        padding: .3em
    .folderContent
      display: none
      font-size: 1rem
    .articleDetails
      margin-top: 1rem

section#configure
  form
    margin-bottom: .5em
    ul
      list-style: none
    > ul
      padding: 0
      font-size: 0
      li
        font-size: 1rem
        vertical-align: top
        background: tint(black, 85%)
        margin-bottom: 1rem
        padding: 1.5rem
        label
          margin-bottom: 2em
          background: none
          color: tint(black,55%)
          &.checked
            color: black
        ul
          padding: 1rem 2rem
          font-size: 0
          li
            font-size: 1rem
            display: inline-block
            width: 25%
            padding: 0
    > ul > li > label
      text-decoration: none
      color: $green
      font-size: 1.2em
      font-weight: bold
    input
      margin: .3em
      background: $green
      color: white
  input.reset
    background: #EEA5A5
    color: tint(black, 35%)


