ul#featuredShows
  background: $green
  padding: .5em
  margin: 0
  li
    display: inline-block
    color: white
    list-style: none
    padding: .5em 1em
ul#radioShows
  +outer-container
  li.radio.list
    background: none
    +span-columns(4)
    +omega(3n)
    h1
      color: $green
      text-transform: lowercase
      font-size: 2.5rem
      border-bottom: solid $green .04em
      display: block
      width: 40%
      padding-left: .2em
  a
    text-decoration: none
  ul
    padding: 0
    li
      list-style: none
      padding-left: 1em
      h2
        font-weight: normal
        font-size: 1rem


ul#projectShows
  padding: 0
  li
    list-style: none
    margin-bottom: 2rem
    h1
      background: $green
      color: white
      display: inline-block
      padding: .2em
    ul
      li
        list-style: inside square
        color: $green
        margin-bottom: 0
        h2
          color: black
          display: inline-block
          font-weight: normal

ul#archiveResults
  margin: 16rem 0 0 0
  padding: 0
  li
    list-style: none
    margin-bottom: 2rem
    h1
      a
        color: $green

table.podcastList
  border-collapse: collapse
  width: 100%
  tr
    border-bottom: .15em solid tint(black, 95%)
    th
      background: $green
      color: white
      text-align: left
      padding: .2em 1em
      border: none
    td
      background: tint($green, 75%)
      padding: .3em 1em
      &#podcastPlay
        width: 30%
        i
          display: none
          color: tint(black, 30%)
      &#podcastDate
        width: 10%
  h1
    color: black
    font-size: 1rem

  tr:hover
    td#podcastPlay
      i
        display: inline
  tr#podcastDescription
    td
      width: 100%
      padding: 1em
      background: tint($green, 90%)
    img#podcastImage
      width: 10%
      display: inline-block
      vertical-align: top
      margin-right: 2%
    p
      display: inline-block
      width: 87%
      margin-top: 0
      font-size: .9rem
