p#migrationNotice
  color: $green
  font-size: .8rem
  position: absolute
  bottom: 0
  width: 90%
  padding: 0 1rem
  margin: 0
  +media(max-width $small)
    font-size: .7rem
    width: 100% !important
    bottom: -3em
  +media(max-width $medium)
    width: 65%
    font-size: .7rem
  a
    color: $green
