p#migrationNotice
  background: tint($green, 70%)
  font-size: .8rem
  padding: 1rem
  margin: 0
  color: #2B4800
  +media(max-width $small)
    font-size: .7rem
    width: 100% !important
    bottom: -3em
  +media(max-width $medium)
    font-size: .7rem
  a
    color: $green
