=vertical-align
  position: absolute
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

=triangle($top, $right, $bottom, $left, $color)
  width: 0
  height: 0
  border-top: $top solid transparent
  border-right: $right solid $color
  border-bottom: $bottom solid transparent
  border-left: $left solid $color

+font-face("Lato", "../fonts/lato/Lato-Regular", $file-formats: ttf)
+font-face("Lato", "../fonts/lato/Lato-Bold", bold, $file-formats: ttf)
+font-face("Lato", "../fonts/lato/Lato-Italic", normal, italic, $file-formats: ttf)
+font-face("Lato", "../fonts/lato/Lato-BoldItalic", bold, italic, $file-formats: ttf)

+font-face("Lobster", "../fonts/lobster/Lobster", null, null, $file-formats: otf)
