section#mainNav
  background: rgba(0,0,0,.5)
  width: 100%
  font-size: 0
  position: fixed
  top: 0
  z-index: 1000
  +media(max-width $small)
    position: static
  nav
    display: inline-block
    font-size: .8rem
    padding-left: 3%
    +media(max-width $small)
      font-size: .65rem
    ul
      padding: 0
      margin: 0
      li
        list-style: none
        padding: .5em 1.5% .5em 0
        display: inline-block
        vertical-align: middle
        a
          color: white
          text-decoration: none
        img
          width: 1.5em
  nav#menu
    width: 85%
  nav#rss
    width: 15%
    text-align: right
    i
      color: tint(black, 95%)
      font-size: 1.2rem !important
      padding-right: .5em
      vertical-align: middle
