.pagination
  .step-links
    text-align: center
    margin: 0 auto
    display: block
    a
      padding: .5em
      text-decoration: none
      color: $green
      display: inline-block
      margin: .1rem
    .current
      padding: .5em
      background: $green
      color: white
