[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

#player
  position: absolute
  right: 0
  top: 70%
  background: tint(black, 10%)
  color: tint(black, 80%)
  font-size: 0
  margin-right: 3% !important
  z-index: 10
  +span-columns(3)
  +media(max-width $medium)
    +span-columns(4)
  +media(max-width $small)
    position: static
    +span-columns(12)
  progress
    background-color: darken($green, 15%)
    border: none
    width: 100%
    height: .3rem
    &::-webkit-progress-bar
      background-color: darken($green, 15%)
    &::-moz-progress-bar
      background-color: $green
  progress, #volumeSlide
    cursor: pointer
  i
    font-size: 1rem
    display: inline-block
    padding: 2% 2%
    vertical-align: middle
    cursor: pointer
    +media(max-width 1350px)
      font-size: .7rem
    +media(max-width 1100px)
      font-size: .55rem
    +media(max-width 1050px)
      font-size: .45rem
    +media(max-width $small)
      font-size: 1rem
    &:first-child
      padding-left: 0
  .playerImage
    width: 25%
  #playerWrap
    width: 100%
    position: relative
    display: table
    font-size: 0
    #playerDetails
      width: 75%
      display: table-cell
      padding: 3% 5%
      position: relative
      h1
        font-size: .9rem
        font-weight: normal
        margin-top: 0
        height: 2.5em
      p#playerTimer
        color: $green
        display: inline
        font-size: .8rem
        padding: 0 3%
        vertical-align: middle
        +media(max-width 1350px)
          font-size: .7rem
        +media(max-width $small)
          font-size: 1rem
      #volumeSlide
        width: 20%
        height: .1rem
        display: inline-block
        vertical-align: middle
        margin: 0
        -webkit-appearance: none
        -moz-appearance: none
        &::-moz-range-thumb
          border: none
          height: .8em
          width: .8em
          background: $green
        &::-webkit-slider-thumb
          -webkit-appearance: none
          border: none
          height: .8em
          width: .8em
          background: $green
          border-radius: 100%

      i.fa-share, i.fa-download
        font-size: .6rem
        padding-right: 3%
        color: tint(black, 80%)
      i.fa-share
        padding-left: 6%
  #playlistDown
    text-align: right
    position: absolute
    bottom: .4em
    padding:  0 .25rem .15rem .25rem
    font-size: .7rem
    z-index: 1
    color: tint(black, 85%)
    right: .4em

#playlist
  background: tint(black, 90%)
  padding: 0
  font-size: 0
  li.playlistItem
    font-size: 0
    border-bottom: .03rem solid tint(black, 60%)
    padding: 0 3%
    &.dragging
      opacity: 0.5
      background: tint($green, 30%)
    &.drag-enter
      background: tint($green, 30%)
    & > *
      display: inline-block
      color: black
      vertical-align: middle
    h1
      width: 65%
      font-weight: normal
      font-size: .9rem
    i
      font-size: .6rem
      padding: 3%
    .playlistControls
      width: 35%
      text-align: right
  .current
    background: tint(black, 80%)
