div#player
  background: tint(black, 10%)
  color: tint(black, 80%)
  font-size: 0
  div#playerProgress
    width: 100%
    height: .3rem
    background: $green
  div#podcastImage
    width: 20%
    margin: 2%
    display: inline-block
    vertical-align: top
    img
      width: 100%
  div#playerDetails
    width: 76%
    display: inline-block
    h1
      font-size: .9rem
      font-weight: normal
    i
      font-size: 1rem
      display: inline
      padding: .1em
