#player
  position: absolute
  right: 0
  top: 60%
  background: tint(black, 5%)
  color: tint(black, 80%)
  font-size: 0
  margin-right: 2.5% !important
  z-index: 10
  +span-columns(3)
  +media(max-width $medium)
    +span-columns(4)
  +media(max-width $small)
    position: static
    +span-columns(12)
  progress
    background-color: tint(black, 3%)
    border: none 
    width: 100%
    height: .3rem
    &::-moz-progress-bar
      background-color: $green
  i
    font-size: 1rem
    display: inline-block
    padding: .6em .3em
    vertical-align: middle
    cursor: pointer
    +media(max-width $medium)
      font-size: .7rem
    +media(max-width $small)
      font-size: 1rem
    &:first-child
      padding-left: 0
  .playerImage
    width: 25%
  #playerWrap
    width: 100%
    position: relative
    display: table
    font-size: 0
    #playerDetails
      width: 75%
      display: table-cell
      padding: .5rem 1rem
      position: relative
      h1
        font-size: .9rem
        font-weight: normal
      p#playerTimer
        color: $green
        display: inline
        font-size: .8rem
        padding: 0 .5em
        vertical-align: middle
        +media(max-width $medium)
          font-size: .7rem
        +media(max-width $small)
          font-size: 1rem
      #volumeSlide
        width: 20%
        height: .1rem
        display: inline-block
        vertical-align: middle
        margin-right: .5rem
        &::-moz-progress-bar
          background: tint(black, 80%)
      #playerShare
        i
          font-size: .6rem
  #playlistDown
    text-align: right
    position: absolute
    bottom: .4em
    padding:  0 .25rem .15rem .25rem
    font-size: .7rem
    z-index: 1
    color: tint(black, 85%)
    right: .4em

#playlist
  background: tint(black, 90%)
  padding: 0
  font-size: 0
  li.playlistItem
    font-size: 0
    border-bottom: .03rem solid tint(black, 60%)
    padding: 0 3%
    & > *
      display: inline-block
      color: black
      vertical-align: middle
    h1
      width: 65%
      font-weight: normal
      font-size: .9rem
    i
      font-size: .6rem
    .playlistControls
      width: 35%
      text-align: right
  .current
    background: tint(black, 80%)
