h2#featured
  color: $green
  margin: 0 0 -0.2em 0
  font-size: 1.7rem
ul#featuredShows
  background: $green
  padding: .5em
  margin: 0
  li
    display: inline-block
    color: white
    list-style: none
    padding: .5em 1em
ul#radioShows
  +outer-container
  li.radio.list
    background: none
    +span-columns(4)
    +omega(3n)
    h1
      color: $green
      text-transform: lowercase
      font-size: 2.5rem
      border-bottom: solid $green .04em
      display: block
      width: 40%
      padding-left: .2em
  a
    text-decoration: none
  ul
    li
      list-style: none
      padding-left: 1em
      h2
        font-weight: normal
        font-size: 1rem
