.tabs, .tabsContents, .tabsContents ul
  list-style: none
  margin: 0
  padding: 0
  font-size: 0
  +span-columns(9 of 9)

.tabs
  li
    display: inline-block
    padding: .3rem 1rem
    cursor: pointer
    +transition(all 0.2s ease-in-out)

.tabsContents
  margin-bottom: 1.5rem

#archiveSearch
  ul.tabs
    > li
      width: 20%
      color: black
      font-size: 1.1rem
      text-align: center
      text-transform: lowercase
      font-variant: small-caps
      &:hover
        background: tint($green, 60%)
      &.active
        background: $green
        color: white
  ul.tabsContents
    background: $green
    padding: 1rem
    li
      margin: 1rem 1rem 1rem 0
      vertical-align: middle
      display: inline-block
      &.mainForm
        border: tint(black, 80%) solid .15rem
        background: white
        font-size: 1.1rem
        border-radius: .3rem
        font-size: 0
        width: 100%
        margin: 0 0 1rem 0
    label
      color: white
      padding: 0 1rem 0 0
      font-size: 1rem
      vertical-align: middle
    select
      border: none
      vertical-align: middle
    input
      border: tint(black, 80%) solid .15rem
      background: white
      border-radius: .2rem
      vertical-align: middle
    input#id_q
      padding: .5em
      width: 90%
      border: none
      background: none
      font-size: 1.1rem
      color: tint(black, 50%)
    button[type="submit"]
      width: 10%
      font-size: 1.5rem
      background: none
      border: none
      text-align: right
      color: tint(black, 50%)
      cursor: pointer
      vertical-align: middle


#schedule
  ul.tabs
    li
      width: 14.2857%
      font-size: 1rem
      text-align: center
      text-transform: lowercase
      font-variant: small-caps
      padding: .5em
      &:hover
        background: tint(black, 90%)
      &.active
        background: white
  ul.tabsContents
    background: white
    padding: 0 1rem 1rem 1rem
    li
      width: 100%
      border-bottom: .1rem solid black
      padding: .5rem
      font-size: 0
      &:last-child
        border: none
      &.tabContent
        border: none
      time
        display: inline-block
        width: 8%
        font-size: 1rem
      h1
        font-weight: bold
        text-transform: lowercase
        font-variant: small-caps
        display: inline-block
        width: 30%
        a
          text-decoration: none
      p
        display: inline-block
        width: 62%
        color: $green
        vertical-align: top
