.tabs
  list-style: none
  position: relative
  margin: 0
  padding: 0
  li
    display: inline-block
  input[type="radio"]
    position: absolute
    display: none
  label
    display: block
    padding: .3em 1em
    border-radius: .2em .2em 0 0
    font-size: 1.2rem
    font-weight: normal
    cursor: pointer
    position: relative
    +transition(all 0.2s ease-in-out)
  .tab-content
    z-index: 2
    display: none
    overflow: hidden
    width: 100%
    padding: 1em
    position: absolute
    left: 0
  //The Magic
  [id^="tab"]:checked + label
    top: 0
    padding-top: .5em
  [id^="tab"]:checked ~ [id^="tab-content"]
    display: block

#archive
  width: 50%
  label
    color: white
    background: tint($green, 60%)
    &:hover
      background: tint($green, 30%)
  .tab-content
    background: $green
  [id^="tab"]:checked + label
    background: $green

#schedule
  width: 100%
  li
    width: 14%
    label
      text-align: center
      text-transform: lowercase
      font-variant: small-caps
      &:hover
        background: tint(black, 90%)
    .tab-content
      background: white
    [id^="tab"]:checked + label
      background: white
    ul
      padding: 0
      li
        width: 100%
        border-bottom: .1rem solid black
        padding: .5rem
        font-size: 0
        &:last-child
          border: none
        time
          display: inline-block
          width: 8%
          font-size: 1rem
        h1
          font-weight: bold
          text-transform: lowercase
          font-variant: small-caps
          display: inline-block
          width: 30%
          a
            text-decoration: none
        p
          display: inline-block
          width: 62%
          color: $green
          vertical-align: top
