{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ projectshow }}{% endblock title %}

{% block content %}
<article>
  <div class="articleDetails">
    {% if projectshow.image %}
    <img src="{{ projectshow.image.url }}"/>
    {% endif %}
  </div>
  <div class="text">
    <h2 class="category">{{ projectshow.producer }}</p>
    <h1>{{ projectshow }}</h1>
    {{ projectshow.description | safe }}
    <table class="podcastList">
      <tr>
        <th>{% trans 'Podcast' %}</th>
        <th></th>
        <th>{% trans 'Date' %}</th>
      </tr>
      {% for projectpodcast in projectshow.projectpodcast_set.select_related %}
      <tr>
        <td>{{ projectpodcast }}</td>
        {% include 'podcast_control.html' with podcast=projectpodcast %}
        <td class="podcastDate">{{ projectpodcast.pub_date|date:"Y-m-d" }}</td>
      </tr>
      <tr class="podcastDescription">
        <td colspan="3">{% if projectpodcast.image %}<img id="podcastImage"
          src="{{ projectpodcast.image.url }}"/>{% endif %}
          <span class="podcastText">{{ projectpodcast.description | safe }}</span></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</article>
{% endblock content %}
