{% extends 'base.html' %}
{% load static i18n thumbnail %}

{% block title %}{% trans 'Projects' %}{% endblock title %}

{% block content %}
<ul id="projectShows">
  {% regroup projectshow_list by creation_date.year as projectshow_list_by_year %}
  {% for year in projectshow_list_by_year %}
  <li>
    <h1>{{ year.grouper }}</h1>
    <ul class="cardList">
      {% for projectshow in year.list %}
      <li class="card">
        <h1><a href="{{ projectshow.get_absolute_url }}">{{ projectshow }}</a></h1>
        <h2 class="category">{{ projectshow.producer }}</h2>
        {% if projectshow.image %}
        {% thumbnail projectshow.image "500" as image %}
        <a href="{{ projectshow.get_absolute_url }}">
          <img src="{{ image.url }}"/>
        </a>
        {% endthumbnail %}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

{% include 'pagination.html' with object_list=projectshow_list %}
{% endblock content %}
