{% extends 'base.html' %}
{% load i18n compress thumbnail static %}

{% block title %}{{ projectshow }}{% endblock title %}

{% block tail_extra_js %}
{% compress js %}
<script src="{% static 'js/folders.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress js %}
{% endblock tail_extra_js %}

{% block content %}
<article>
  <div class="articleDetails">
    {% if projectshow.image %}
    <img src="{{ projectshow.image.url }}"/>
    {% endif %}
  </div>
  <div class="text">
    <h2 class="category">{{ projectshow.producer }}</h2>
    <h1>{{ projectshow }}</h1>
    {{ projectshow.description | safe }}
    <table class="podcastList">
      <thead>
        <th>{% trans 'Podcast' %}</th>
        <th></th>
        <th>{% trans 'Date' %}</th>
      </thead>
      <tbody>
        {% for projectpodcast in projectshow.projectpodcast_set.select_related %}
        <tr>
          <td class="folder">
            <span class="podcastTitle">{{ projectpodcast }}</span>
            <div class="folderContent">
              <div class="articleDetails">
                {% thumbnail projectpodcast.image "500" as image %}
                <img class="podcastImage" src="{{ image.url }}" />
                {% endthumbnail %}
              </div>
              <div class="text">
                <span class="podcastText">{{ projectpodcast.description | safe }}</span>
              </div>
            </div>
          </td>
          <td class="podcastControls">{% include 'podcast_control.html' with podcast=projectpodcast %}</td>
          <td class="podcastDate">{{ projectpodcast.pub_date|date:"Y-m-d" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</article>
{% endblock content %}
