{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Projects' %}{% endblock title %}

{% block content %}
<ul id="projectShows">
  {% regroup projectshow_list by creation_date.year as projectshow_list_by_year %}
  {% for year in projectshow_list_by_year %}
  <li>
    <h1>{{ year.grouper }}</h1>
    <ul>
      {% for projectshow in year.list %}
      <li>
        <h2><a href="{{ projectshow.get_absolute_url }}">{{ projectshow }}</a></h2>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

{% include 'pagination.html' with object_list=projectshow_list %}
{% endblock content %}
