{% extends 'base.html' %}
{% load static i18n compress thumbnail absolute_urls %}

{% block title %}
{% trans 'Archive' %}
{% endblock title %}

{% block extra_js %}
{# Cannot compress this because it includes the JS I18N catalogue #}
{{ tab_media.render_js | join:"" }}
{% endblock extra_js %}


{% block extra_css %}
{% compress css %}
{{ tab_media.render_css | join:"" }}
{% endcompress css %}
{% endblock extra_css %}


{% block content %}
<div id="error404">
  <p>{% trans 'Do you lose the dial?' %}</p>
  <p>{% trans 'Go ' %}<a href="/">{% trans 'home' %}</a>{% trans 'again, and listen to the radio!' %}</p>
  <img src="{% static 'images/antxetamedia.svg' %}" />
</div>
{% endblock content %}
