{% load i18n static compress %}
<html>
  <head>
    <title></title>

    {% compress css %}
    <link rel="stylesheet" type="text/x-sass" href="{% static 'css/main.sass' %}" />
    {% block extra_css %}
    {% endblock extra_css %}
    {% endcompress css %}

    {% compress js %}
    {% comment %}
    <script src="{% static 'js/bower_components/jquery/dist/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
    {% endcomment %}
    {% block extra_js %}
    {% endblock extra_js %}
    {% endcompress js %}
  </head>
  <body>
    {% block body %}
    <header>
      <section id="mainNav">
        <nav id="menu">
          <ul>
            <li><a href="{% url 'news:list' %}">{% trans 'News' %}</a></li>
            <li><a href="{% url 'radio:list' %}">{% trans 'Radio' %}</a></li>
          </ul>
        </nav>
        <nav class="user">
          <ul>
            <li>
                <a>{% trans 'Create account / Login' %}</a>
            </li>
            <li>
                <a href="">{% trans 'Logout' %}</a>
            </li>
            <li>
              <img src="{% static 'images/rss.svg' %}" alt="rss"/>
            </li>
          </ul>
        </nav>
      </section>
      <div id="logo">
        <a href="/"><img src="{% static 'images/antxetamedia.svg' %}" alt="antxetamedia" /></a>
        <div class="zero">
          <div id="live"><a>{% trans 'LIVE' %}</a></div>
          <div id="broadcast"><a>90.5/89.7</a></div>
        </div>
      </div>
    </header>

    <div id="wrap">
      <main>
        {% block content %}
        {% endblock content %}
      </main>
      <aside>
        {% block player %}
        <div id="player">
          <div id="playerProgress"></div>
          <div id="podcastImage"><img src="images/example.png"/></div>
          <div id="playerDetails">
            <h1>Hau momentuan erreproduzitzen den podcastaren izenburua da</h1>
            <div id="playerControls">
              <div id="playerPrev"><span class="rectangle"></span><span  class="triangle"></span></div>
              <div id="playerPlay"><span class="triangle"></span></div>
              <div id="playerPause"><span class="rectangle"></span><span class="rectangle"></span></div>
              <div id="playerNext"><span class="triangle"></span><span  class="rectangle"></span></div>
              <div id="playerTimer">01:34</div>
              <div id="playerVolume">
                <div id="volumeIcon"><span class="rectangle"></span><span class="triangle"></span><span class="waves"></span></div>
                <div id="volumeSlide"></div>
              </div>
              <div class="podcastShare"></div>
              <div class="podcastDownload"></div>
            </div>
          </div>
        </div>
        {% endblock player %}
      </aside>
    </div>

    <footer>
      <div id="license">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img src="{% static 'images/by.svg' %}" /></a>
        <span xmlns:dct="http://purl.org/dc/terms/"
          property="dct:title"><a
            href="http://antxetamedia.eus/">antxetamedia.eus</a></span>-eko edukia, <a
          xmlns:cc="http://creativecommons.org/ns#" href="antxetamedia.eus"
          property="cc:attributionName" rel="cc:attributionURL">Antxeta
          Irratia</a>k ekoiztutakoa, <a rel="license"  href="http://creativecommons.org/licenses/by/4.0/">Creative Commons
          Aitortu 4.0 Nazioartekoa baimen baten mende dago</a>
      </div>
      <div id="sponsors">
        <a href="http://antxetamedia.eus/">
          <img src="{% static 'images/antxeta.png' %}" />
        </a>
        <a href="http://pausumedia.com/">
          <img src="{% static 'images/pausumedia.svg' %}" />
        </a>
        <a href="http://euskalirratiak.eus/">
          <img src="{% static 'images/euskalirratiak.png' %}" />
        </a>
        <a href="http://euskadi.eus/">
          <img src="{% static 'images/jaurlaritza.png' %}" />
        </a>
      </div>
    </footer>

    {% endblock body %}
  </body>
</html>
