{% load i18n static compress %}
<html>
  <head>
    <title></title>

    {% compress css %}
    <link rel="stylesheet" type="text/x-sass" href="{% static 'css/main.sass' %}" />
    {% block extra_css %}
    {% endblock extra_css %}
    {% endcompress css %}

    {% compress js %}
    {% comment %}
    <script src="{% static 'js/bower_components/jquery/dist/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
    {% endcomment %}
    {% block extra_js %}
    {% endblock extra_js %}
    {% endcompress js %}
  </head>
  <body>
    {% block body %}
    <h1>Antxetamedia</h1>
    <h2>Here go the most common things</h2>
    {% block content %}
    {% endblock content %}
    {% endblock body %}
  </body>
</html>
