{% load i18n static compress %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% trans 'Frontpage' %}{% endblock title %} - Antxetamedia</title>
    <meta charset="utf-8">
    <meta name="author" content="Antxeta Irratia">
    <meta name="description" content="Antxeta Irratia Euskara hutsez emititzen
    duen Bidasoaldeko irratia da, Hendaian egoitza duena.">
    <meta name="keywords" content="antxeta, irratia, euskara, hendaia,
    bidasoaldea">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    {% compress css %}
    <link rel="stylesheet" type="text/x-sass" href="{% static 'css/main.sass' %}" />
    {% endcompress css %}
    {% compress js %}
    <script src="{% static 'bower_components/angular/angular.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bower_components/ngDraggable/ngDraggable.js' %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress js %}
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    <section id="mainNav">
      <nav id="menu">
        <ul>
          <li><a href="{% url 'frontpage' %}">{% trans 'Frontpage' %}</a></li>
          <li><a href="{% url 'news:list' %}">{% trans 'News' %}</a></li>
          <li><a href="{% url 'radio:list' %}">{% trans 'Radio' %}</a></li>
          <li><a href="{% url 'projects:list' %}">{% trans 'Projects' %}</a></li>
          <li><a href="{% url 'events:list' %}">{% trans 'Events' %}</a></li>
          <li><a href="{% url 'archive:search' %}">{% trans 'Archive' %}</a></li>
          <li><a href="{% url 'schedule:list' %}">{% trans 'Schedule' %}</a></li>
          {% for flatpage in menu_flatpage_list %}
          <li><a href="{{ flatpage.get_absolute_url }}">{{ flatpage }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <nav id="rss">
        <a href="{% url 'feed' %}"><i class="fa fa-rss"></i></a>
      </nav>
    </section>
    <header>
      <div id="logo">
        <a href="/"><img src="{% static 'images/antxetamedia.svg' %}" alt="antxetamedia" /></a>
        <div id="subtitle">
          <div id="live"><a>{% trans 'LIVE' %}</a></div>
          <div id="broadcast"><a>90.5/89.7/105.8</a></div>
        </div>
      </div>
      {% include "player.html" %}

      {% block configure %}
      {% endblock configure %}

    </header>

    <div id="wrap">
      <main>
        {% block content %}
        {% endblock content %}
      </main>
      <aside>
        {% block aside %}
        {% endblock aside %}
      </aside>
    </div>

    <footer>
      <div id="license">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img src="{% static 'images/by.svg' %}" alt="Creative Commons by" /></a>
        <span xmlns:dct="http://purl.org/dc/terms/"
          property="dct:title"><a
            href="http://antxetamedia.info/">antxetamedia.info</a></span>-eko edukia, <a
          xmlns:cc="http://creativecommons.org/ns#" href="antxetamedia.eus"
          property="cc:attributionName" rel="cc:attributionURL">Antxeta
          Irratia</a>k ekoiztutakoa, <a rel="license"  href="http://creativecommons.org/licenses/by/4.0/">Creative Commons
          Aitortu 4.0 Nazioartekoa baimen baten mende dago</a>
      </div>
      <div id="sponsors">
        <a href="http://antxetamedia.eus/">
          <img src="{% static 'images/antxeta.png' %}" alt="Antxeta Irratia" />
        </a>
        <a href="http://pausumedia.com/">
          <img src="{% static 'images/pausumedia.svg' %}" alt="Pausumedia" />
        </a>
        <a href="http://euskalirratiak.eus/">
          <img src="{% static 'images/euskalirratiak.png' %}" alt="Euskal Irratiak" />
        </a>
        <a href="http://euskadi.eus/">
          <img src="{% static 'images/jaurlaritza.svg' %}" alt"Eusko Jaurlaritza" />
        </a>
      </div>
    </footer>

    {% compress js %}
    <script src="{% static 'js/events.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset=utf-8">
      window.STREAM_BLOB = {
          pk: 0,
          podcast: "/",
          title: "{% trans 'Antxeta Irratia zuzenean' %}",
          image: "{% static 'images/radio.svg' %}",
          url: "http://streaming.antxetamedia.info:8000/antxetairratia.mp3",
          isStream: true,
      };
    </script>
    <script src="{% static 'js/player.js' %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress js %}
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
