{% extends 'base.html' %}
{% load i18n static compress %}

{% block content %}

<ul id="newsFront">
  {% for newspodcast in newspodcast_list %}
  <li class="flag news">
    {% if newspodcast.image %}
    <img src="{{ newspodcast.image.url }}"/>
    {% endif %}
    <div class="text">
      <p class="date">{{ newspodcast.pub_date }}</p>
      <h2>{{ newspodcast.categories.all | join:", " }}</h2>
      <h1>{{ newspodcast }}</h1>
      <p>{{ newspodcast.description | striptags | truncatewords:25 }}</p>
    </div>
  </li>
  {% endfor %}
</ul>

<div id="right">
  <ul id="agendaFront">
    {% for date, event in event_list.upcoming %}
    <li class="flag agenda">
      {% if event.image %}
      <img src="{{ event.image.url }}" />
      {% endif %}
      <div class="text">
        <time class="date" datetime="{{ date|date:"Y M d" }}">{{ date|date:"Y M d" }} {{ event.time|time:"H:i" }}</time>
        <h2>{{ event.location }}</h2>
        <h1>{{ event.title }}</h1>
      </div>
    </li>
    {% endfor %}
  </ul>

  <ul id="radioFront">
    {% for radiopodcast in radiopodcast_list %}
    <li class="flag radio">
      <img src="{{ radiopodcast.image.url }}"/>
      <div class="text">
        <h2>{{ radiopodcast.show }}</h2>
        <h1>{{ radiopodcast }}</h1>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


{% for widget in widget_list %}
{{ widget.content | safe }}
{% endfor %}
{% endblock content %}
