{% load i18n static compress %}
<div id="player" ng-app="player" ng-controller="playerController">
  <div id="playerProgress">[[ currentTime / currentDuration ]]</div>
  <div id="playerWrap">
    <div class="detail playerImage" ng-if="currentBlob.image" ng-style="{'background-image': 'url([[ currentBlob.image ]])'}"/></div>
    <div id="playerDetails">
      <h1>[[ currentBlob.title ]]</h1>
      <div id="playerControls">
        <i class="fa fa-step-backward" ng-click="playlist.previous()"></i>
        <i class="fa fa-play" ng-click="playlist.play()" ng-if="!playlist.playing"></i>
        <i class="fa fa-pause" ng-click="playlist.pause()" ng-if="playlist.playing"></i>
        <i class="fa fa-step-forward" ng-click="playlist.next()"></i>
        <p id="playerTimer">[[ currentTime | secondsToDate | date: 'HH:mm:ss' ]]</p>
        <progress id="volumeSlide" max="100" value="100"></progress>
        <span id="playerShare">
          <i class="fa fa-share"></i>
          <i class="fa fa-download"></i>
        </span>
      </div>
      <i id="playlistDown" class="fa fa-chevron-down" ng-click="playlistDown = !playlistDown" ng-class="{'fa-chevron-up': playlistDown, 'fa-chevron-down': !playlistDown}"></i>
    </div>
  </div>

  <ul id="playlist" ng-init="playlistDown = false" ng-show="playlistDown">
    <li class="playlistItem" ng-repeat="blob in playlist.queue track by $index" ng-class="{'current': $index == playlist.current}">
      <div class="detail" ng-if="blob.image" ng-style="{'background-image': 'url([[ blob.image ]])'}" ng-if="blob.image"/></div>
      <h1>[[ blob.title ]]</h1>
      <span class="playlistControls">
        <i class="fa fa-play" ng-click="playlist.play($index);"></i>
        <a ng-href="[[ blob.url ]]"><i class="fa fa-download"></i></a>
        <a ng-href="[[ blob.podcast ]]"><i class="fa fa-share"></i></a>
        <i class="fa fa-trash-o" ng-click="playlist.remove($index);"></i>
        <i class="fa fa-arrows"></i>
      </span>
    </li>
  </ul>
</div>
