<div id="player" ng-app="player" ng-controller="playerController">
  <div id="playerProgress">[[ playlist.currentBlob.currentTime ]]</div>
  <div class="detail playerImage" style="background-image: url('[[ playlist.currentBlob.image ]]')";/></div>
  <div id="playerDetails">
    <h1>bla[[ playlist.currentBlob.title ]]</h1>
    <div id="playerControls">
      <i class="fa fa-step-backward" ng-click="playlist.previous()"></i>
      <i class="fa fa-play" ng-click="playlist.play()" ng-if="!playlist.playing"></i>
      <i class="fa fa-pause" ng-click="playlist.pause()" ng-if="playlist.playing"></i>
      <i class="fa fa-step-forward" ng-click="playlist.next()"></i>
      <p id="playerTimer">01:34</p>
      <span id="playerVolume">
        <i class="fa fa-volume-up"></i>
        <i class="fa fa-volume-off"></i>
        <div id="volumeSlide"></div>
      </span>
      <span id="playerShare">
        <i class="fa fa-share"></i>
        <i class="fa fa-download"></i>
      </span>
      <i id="playlistDown" class="fa fa-chevron-circle-down"></i>
    </div>
  </div>

  <ul id="playlist">
    <li class="playlistItem" ng-repeat="blob in playlist.queue track by $index" ng-class="{current: $index == playlist.current }">
      <div class="detail" style="background-image: url:('[[ blob.image ]] ng-if="blob.image"')"></div>
      <h1>[[ blob.title ]]</h1>
      <span class="playlistControls">
        <i class="fa fa-play" ng-click="playlist.play($index);"></i>
        <i class="fa fa-download"></i>
        <i class="fa fa-share"></i>
        <i class="fa fa-trash-o" ng-click="playlist.remove($index);"></i>
        <i class="fa fa-arrows"></i>
      </span>
    </li>
  </ul>
</div>
