<div id="player">
  <div id="playerProgress"></div>
  <div class="detail" style="background-image: url('');"/>
    <div class="downloadShare">
      <i class="fa fa-share"></i>
      <i class="fa fa-download"></i>
    </div>
  </div>
  <div id="playerDetails">
    <h1>Hau momentuan erreproduzitzen den podcastaren izenburua da</h1>
    <div id="playerControls">
      <i class="fa fa-step-backward"></i>
      <i class="fa fa-play"></i>
      <i class="fa fa-pause"></i>
      <i class="fa fa-step-forward"></i>
      <p id="playerTimer">01:34</p>
      <div id="playerVolume">
        <i class="fa fa-volume-up"></i>
        <i class="fa fa-volume-off"></i>
        <div id="volumeSlide"></div>
      </div>
    </div>
  </div>
</div>
